/*=========================
    Global Styles
==========================*/

body{
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Tangerine', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #66bfbf;
    font-size: 50px;
    left: -150px;
}

h2{
    font-family: 'Trebuchet MS', sans-serif;
    color: #66bfbf;
    font-size: 20px;
    font-weight: normal;
    font-size: 30px;
}

h3{
    font-family: 'Trebuchet MS', sans-serif;
    color: #11999e;
    font-size: 20px;
}

hr {
    color: #EAF6F6;
    border-style: dotted none none;
    width: 5%;
    border-width: 10px;
}

/*=========================
    Top Section Styles
==========================*/

.top-section {
    background-color: #cff7ef;
    position: static;
    padding-top: 100px;
    height: 600px;
    width: 100%;
}

.cloud-top {
    position: relative;
    top: -40px;
    width: 30%;
    float: right;
}

.cloud-bottom {
    position: relative;
    bottom: -140px;
    float: left;
    width: 30%;
}

.mountain {
    position: relative;
    top: 268px;
    float: inherit;
}

.text {
    position: absolute; 
    width: 100%;   
}

.text h1 {
    position: relative;
    font-family: 'Tangerine', sans-serif;
    color: #11999e;
    font-size: 110px;
    font-weight: normal;
    left: -10px;
    top: -20px;
}

.text h2 {
    color: #000;
    position: relative;
    font-size: 20px;
    font-weight: normal;
    bottom: 90px;
} 

/*=========================
    Middle Section Styles
==========================*/

.profile {
    padding-bottom: 50px;
}

.profile p {
    font-family: 'Trebuchet MS', sans-serif;;
    width: 50%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
}


.skills {
    padding-top: 50px;
}
.middle-section {
    position: relative;
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.coding {
    width: 30%;
    float: left;
    padding: 0 20px 20px 0;
}

.biodata {
    width: 25%;
    float: right;
    padding: 0 20px 0 20px;
}


.bottom-section {
    position: relative;
    padding-top: 100px;
    /* height: 490px; */
}

/*=========================
    Contact Me Section Styles
==========================*/
.contact-me {
    font-family: 'Trebuchet MS', sans-serif;;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*=========================
    Contact Button Styles
==========================*/

.contact_btn {
    font-family: 'Trebuchet MS', sans-serif;;
    position: relative;
    top: 40px;
    padding-top: 30px;
    background-color: #11999e;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
    text-decoration: none;
}

.contact_btn:hover {
    background-color: #cff7ef;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
}   


/*=========================
    Other Button Styles
==========================*/
.footer-link {
    font-family: 'Trebuchet MS', sans-serif;;
    text-decoration: none;
    color: #11999e;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #11999e;
}
.footer-link:hover {
    background-color: #11999e;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
}
/*=========================
    Footer Styles
==========================*/
footer {
    position: static;
    height: 20px;
    width: 100%;
    background-color: #cff7ef;
    color: white;
    background-color: #000;
    padding: 20px 0;
    margin-top: 40px;
}
footer p {
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
    top: -10px;
    color: white;
    font-size: 15px;
}