body{
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #66bfbf;
    position: relative;
    font-size: 50px;
    left: -150px;
}

h2{
    color: #66bfbf;
    font-size: 20px;
    font-weight: normal;
    font-size: 30px;
}

h3{
    color: #11999e;
    font-size: 20px;
}

hr {
    color: #EAF6F6;
    border-style: dotted none none;
    width: 5%;
    border-width: 10px;
}

.btn {
    position: relative;
    top: 40px;
    background-color: #11999e;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
    text-decoration-line: none;
}


.text p {
    position: relative;
    font-size: 20px;
    left: -150px;
    bottom: 10px;
    font-family: monospace;
}

.text h2 {
    color: #000;
    position: absolute;
    left: 200px;
    bottom: -40px;
}

.top-section {
    background-color: #cff7ef;
    position: relative;
    padding-top: 100px;
    height: 490px;
}

.profile {
    padding-bottom: 50px;
}
.profile h2 {
    font-size: 30px;
}

.cloud-top {
    position:absolute;
    top: 80px;
    right: 200px;
}

.text {
    position: absolute;
    top: 150px;
    left: 400px;
}

.cloud-bottom {
    position: absolute;
    bottom: 250px;
    left: 200px;
}

.mountain {
    position: absolute;
    top: 340px;
    left: 300px;
}

.skills {
    padding-top: 50px;
}
.middle-section {
    position: relative;
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.coding {
    width: 30%;
    float: left;
    padding: 0 20px 20px 0;
}

.biodata {
    width: 25%;
    float: right;
    padding: 0 20px 0 20px;
}

.contact-me {
    padding-top: 50px;
}


.bottom-section {
    position: relative;
    padding-top: 100px;
    /* height: 490px; */
}